<div class="card events" id="future_events">
    <div class="card-header">
        <h3 calss="card-title">Future Event</h3>
    </div>
    <div class="card-body">
        <div id="future_events">
            <%= load_events(@future_participants) %>
        </div>
    </div>
</div>
<br>
<div class="card events">
    <div class="card-header">
        <h3 calss="card-title">Past Event</h3>
    </div>
    <div class="card-body" id="past_events">
        <div id="past_events">
            <%= load_events(@past_participants) %>
        </div>
    </div>
</div>
<br>
