<div class="card">
    <div class="card-body" id="past_events">
        <h3 class="card-title">Past Event</h3>
        <div id="past_events">
            <%= load_events(@past_participants) %>
        </div>
    </div>
</div>
<br>
<div class="card" id="future_events">
    <div class="card-body">
        <h3 class="card-title">Future Event</h3>
        <div id="future_events">
            <%= load_events(@future_participants) %>
        </div>
    </div>
</div>

