<section id="future_events">
    <h3 class="card-title">Future Event</h3>
    <div id="future_events" class="events-list">
        <%= load_events(@future_participants) %>
    </div>
</section>
<br>
<section id="past_events">
    <h3 class="card-title">Past Event</h3>
    <div id="past_events" class="events-list">
        <%= load_events(@past_participants) %>
    </div>
</section>
<br>
