<div class="card bg-dark text-white" style="height: 100%; width: 100%; object-fit: contain">
    <%= image_tag("index.jpg", style:"width: 100%; object-fit: contain;") %>
    <div class="card-img-overlay">
        <h3 class="card-title stroke">Please signin or signup</h3>
        <div class="center" style="margin-top: 18%;">
            <b><h1 class="card-text stroke">Welcome to Ticket & Ticket Manager</h1></b>
            <br>
            <h4 class="card-text stroke">A single account to register events all around the world.</h4>
            <h4 class="card-text stroke">What's more - hosting your own events!</h4>
        </div>
    </div>
</div>