<label>Images</label>
<div class="card">
    <div class="card-body">
    <div class="row">
        <% @pictures.each { |p| %>
        <div class="image col-sm-4">
            <%=image_tag(p.picture.url, alt: "image", class: "gravatar")%>
            <div class="mask-middle">
            <%= button_to "/events/picture/delete/#{@event[:id]}/#{p[:id]}", method: :post, class:"btn btn-primary" do %>
                Remove
            <% end %>  
            </div>
        </div>
        <% } %>
    </div>
    <br><br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_img">Upload image</button>
    </div>
</div>
<br><br>