<div class="btn-group">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href=<%= events_path(sort_by: "price up", filt_by: params[:filt_by]) %> >price up</a>
    <a class="dropdown-item" href=<%= events_path(sort_by: "price down", filt_by: params[:filt_by]) %>>price down</a>
    <a class="dropdown-item" href=<%= events_path(sort_by: "newest", filt_by: params[:filt_by]) %>>newest</a>
    <a class="dropdown-item" href=<%= events_path(sort_by: "oldest", filt_by: params[:filt_by]) %>>oldest</a>
  </div>
</div>