<div class="btn-group">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href=<%= events_path(sort_by: "price", filt_by: params[:filt_by]) %> >price</a>
    <a class="dropdown-item" href=<%= events_path(sort_by: "date", filt_by: params[:filt_by]) %>>date</a>
    <a class="dropdown-item" href=<%= events_path(sort_by: "oldest", filt_by: params[:filt_by]) %>>oldest</a>
  </div>
</div>