<%= octicon "plus" %>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @pictures.each { |p| %>
        <li data-target="#carouselExampleIndicators" data-slide-to=<%@count%> 
            <% if @count == 0 %>
                class="active"
            <% end%>
        ></li>
        <% @count += 1 %>
    <% } %>
    <% @count = 0 %>
  </ol>
  <div class="carousel-inner">
    <% @pictures.each { |p| %>
        <div class="carousel-item 
            <% if @count == 0 %>
                active
            <% end %>
        ">
            <%=image_tag(p.picture.url, alt: "image", class: "d-block w-100")%>
            <% @count += 1 %>
        </div>
    <% } %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<section id="forum">
  <h2 class="title">Forum</h2>
  <%= render_async get_forum_path(event_id: @event.id), 'data-turbolinks-track': 'reload' %>
  <%= render partial: "posts/new_modal" %>
</section>
