@import '~bootstrap/dist/css/bootstrap';
@import '@fortawesome/fontawesome-free';

section {
    overflow: auto;
}

.center {
text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}


.navbar-nav li a {
   line-height: 50px;
   font-size: 20px;
}

.container {
   max-width: 800px;
}

.bg {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-image: url("../images/bg.jpg");
    opacity: 1;
}

.title{
  text-align: center;
}

.hr-main {
    height: 5px;
    background-color:#666;
    opacity: 0.5;
}

.jumbotron {
    background-color: white;
    margin-top: 130px;
}

.navbar-pad{
    height: 80px;
}

.navbar {
    padding: 0px;
}


input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
}
  
input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}