@import '~bootstrap/dist/css/bootstrap';
@import '@fortawesome/fontawesome-free';
@import '~bootstrap-fileinput/scss/fileinput.scss';
// $roboto-font-path: '~mdbootstrap/font/roboto/' !default;

// // MDB main scss file
// @import 'mdbootstrap/scss/mdb.scss';

section {
    overflow: auto;
}

.center {
text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}


.navbar-nav li a {
   line-height: 50px;
   font-size: 20px;
}

.container {
   max-width: 800px;
}

.bg {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-image: url("../images/bg.jpg");
    opacity: 1;
}

.title{
  text-align: center;
}

.hr-main {
    height: 5px;
    background-color:#666;
    opacity: 0.5;
}

.jumbotron {
    background-color: white;
    margin-top: 130px;
}

.navbar-pad{
    height: 80px;
}

.navbar {
    padding: 0px;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}

.events {
    max-height: 800px;
    overflow: scroll;
}

.gravatar {
    height: 80px;
    width: 80px;
}

.image {
    position: relative;
}

.image .gravatar {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.mask-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.image:hover .gravatar{
    opacity: 0.3;
}
  
.image:hover .mask-middle {
    opacity: 1;
}
  
.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}