<br>
<% @result.each do |user| %>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		<%= link_to_user user %>
		<% if current_user?(user) %>
			<div class="p-2 bg-success text-white">Current User</div>
		<% elsif current_user.following?(user) %>
			<%= link_to_unfollow current_user.id, user.id, "reload" %>
		<% else %>
			<%= link_to_follow current_user.id, user.id, "reload" %>
		<% end %>
	</li>
<% end %>
<div class="d-flex justify-content-center"><%= paginate @result, remote: true, window: 1 %></div>