<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Basic Profile</h3>
        <p class="card-text">
          <%= gravatar_for @user %>
          <%= @user.name %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <%= render_async get_events_path(user_id: @user.id) %>
  </div>
</div>